<div class="flex flex-col">
    <form class="p-3 m-3" [formGroup]="form" (ngSubmit)="onSubmit()">
        <project-input [placeholder]="'auth.emailPlaceholder' | translate" [type]="'email'" [label]="'auth.email' | translate" [_formControl_]="form.controls['email']"></project-input>
        <project-input [placeholder]="'auth.passwordPlaceholder' | translate" [type]="'password'" [label]="'auth.password' | translate" [_formControl_]="form.controls['password']"></project-input>
    
        <div class="flex justify-center">
            <project-button type="submit" color="primary">{{ 'auth.login' | translate }}</project-button>
            <project-button type="button" color="secondary">{{ 'auth.cancel' | translate }}</project-button>
        </div>
    </form>

    <div class="text-center">{{ 'auth.noAccount' | translate }} <a class="hover:cursor-pointer" (click)="handleNavigation()">{{ 'auth.register' | translate }}</a></div>
</div>
