<div class="border p-4 w-[400px] h-[400px] relative flex flex-col justify-between">
    <div class="flex flex-col">
        <div class="absolute top-1 right-1 flex gap-2">
            <project-icon [iconName]="'favorite'" [item]="item()" [tooltipText]="'todos.favorite' | translate"></project-icon>
            <project-icon [iconName]="'status'" [item]="item()" [tooltipText]="'todos.status' | translate"></project-icon>
        </div>
        
        <span class="text-xl mb-2 font-bold">{{ item().title | titlecase }}</span>

        <small class="description">{{ item().description }}</small>    
    </div>

    <div class="flex flex-col">
        <small>{{ 'todos.creationDate' | translate }}: {{ item().created_at | date }}</small>
        <div class="flex justify-between">
            <project-button (click)="openEditDialog($event)">{{ 'general.edit' | translate }}</project-button>
            <project-button (click)="openDeleteDialog($event)">{{ 'general.delete' | translate }}</project-button>
        </div>
    </div>
</div>