<div class="flex p-3 gap-8 h-5/6 w-3/5 mx-auto">
    <div class="border flex-1">
        <div class="text-center bg-slate-300 p-4">{{ 'todos.todo' | translate }}</div>
        <div class="flex flex-col p-4 gap-3">
            @for (item of todo; track $index) {
                <board-item [todo]="item"></board-item>
            }
        </div>
    </div>
    <div class="border flex-1">
        <div class="text-center bg-slate-300 p-4">{{ 'todos.active' | translate }}</div>
        <div class="flex flex-col p-4 gap-3">
            @for (item of active; track $index) {
                <board-item [todo]="item"></board-item>

            }
        </div>
    </div>
    <div class="border flex-1">
        <div class="text-center bg-slate-300 p-4">{{ 'todos.done' | translate }}</div>
        <div class="flex flex-col p-4 gap-3">
            @for (item of done; track $index) {
                <board-item [todo]="item"></board-item>
            }
        </div>
    </div>
</div>