//Colors for background
$white: #ffffff;
$black: #000000;
$primary-background-color: #31d54b;
$secondary-background-color: #8f938f;
$tertiary-background-color: #f82323;
$default-background-color: #ffffff;
$disabled-background-color: #9f9f9f;
$input-background: #e0e0e0;

//Fonts
$default-font-size: 16px;

//Borders
$border-color: #9f9f9f;
$border-radius: 2px;

//Margins & Paddings
$small-margin: 6px;
$small-padding: 6px;
$default-margin: 12px;
$default-padding: 12px;
$large-padding: 18px;
$large-margin: 18px;

//Errors
$error-small-font-size: 8px;
$error-normal-font-size: 16px;
$error-color: #a71b1b;