<h2 mat-dialog-title>{{ title() }}</h2>
<project-icon class="absolute top-1 right-1 hover:cursor-pointer" [iconName]="'close'" [tooltipText]="'general.close' | translate" (click)="close()"></project-icon>
<mat-dialog-content>
  @if (todoData()) {
    <form [formGroup]="form" class="flex flex-col gap-3">
      <input type="text" formControlName="title"/>
      <textarea class="border" formControlName="description"></textarea>
      <input type="date" formControlName="start_at"/>
    </form>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <project-button (click)="confirm()">{{ confirmBtnText() }}</project-button>
</mat-dialog-actions>
